/* Start Variables */
:root {
    --main-yellow: #D9A84E;
    --hover-color: rgba(193, 154, 76, 0.8);
    --main-background-color: #204031;
    --section-padding: 100px;
}

/* End Variables */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}

/* Start container */
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End container */

/* Start Header */
.header {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.header .container .logo {
    width: 150px;
    height: 50px;
    margin-right: 80px;
    max-width: 100%;
}

.header .container .links {
    display: flex;
    gap: 40px;
    margin-right: auto;
    font-size: 14px;
    color: white;
    font-family: "Jost", sans-serif;
    letter-spacing: 1.5px;
}

.header .container .links>li {
    position: relative;
}

@media (max-width:767px) {
    .header .container .links {
        display: none;
    }

    .header .container .logo {
        margin-right: 0;

    }
}

.header .container .links a {
    color: white;
    position: relative;
}

.header .container .links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--main-yellow);
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.header .container .links a:hover::before {
    width: 100%;
}

.header .container .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .icons a {
    margin-left: 40px;
    position: relative;

}

@media (max-width:767px) {
    .header .container .icons a {
        margin-left: 20px;
    }
}

.header .container .icons a i {
    color: white;
    transition: 0.3s;
}

.header .container .icons a i:hover {
    transform: rotateY(180deg);
    color: var(--main-yellow);

}

.header .menu {
    position: absolute;
    top: calc(100% + 30px);
    background-color: white;
    left: -320px;
    padding: 5px 25px;
    display: flex;
    gap: 40px;
    visibility: hidden;
    z-index: -1;
    transition: 0.3s;
}

.header .links li.hovers:hover .menu {
  visibility: visible;
    z-index: 100;
}

.header .menu .list>li{
    color: black;
    cursor: pointer;
    padding: 20px 120px 20px 0;
    font-size: 14px;
    font-family: "jost", sans-serif;
    font-weight: 400;
    letter-spacing: 0px;
    transition: 0.3s;
    width: 220px;
}

.header .menu .list li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header .menu .list li.first {
    border-bottom: 3px solid var(--main-yellow);
}

.header .menu .list li:not(.first):hover {
    color: var(--main-yellow);
}

/* End Header */
/* Start Landing */
.landing {
    background-image: url(../images/slider-1.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-attachment: fixed;

}

.landing .info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.landing .info .text {
    display: inline-flex;
    color: var(--main-yellow);
}

@media (max-width:767px) {
    .landing .info .text {
        flex-direction: column;
        width: 100%;
        margin-top: 60px;
        text-align: center;
        gap: 20px;
    }
}

.landing .info .text h1 {
    font-size: 80px;
    line-height: 120px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 40px;
}

.landing .info .text h1 span {
    padding: 0 20px 0 0;
    border-right: 1px solid #ffffff;

}

/* End Landing */
/* Start First Class */
.first-class {
    position: relative;
    background-image: url(../images/slider-2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.first-class .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
}

.first-class .text h1 {
    font-size: 80px;
    line-height: 120px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--main-yellow);
    margin-top: -10px;
    margin-bottom: 40px;
}

.first-class .text h1 span {
    padding: 0 20px 0 0;
    border-right: 1px solid #ffffff;

}

/* End First Class */
/* Start Idea */
.idea {
    background-color: var(--main-background-color);
    border-top: 5px solid var(--main-yellow);
    padding-top: 80px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
}

.idea .pattern {
    position: absolute;
    right: 0;
    bottom: 0;
}

.idea .section {
    display: flex;
    margin-bottom: 200px;
}

.idea .section .info {
    max-width: 41%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width:767px) {
    .idea .section {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .idea .section .info {
        max-width: 100%;
    }
}

.idea .section .info h3 {
    margin-top: 0;
}

.idea .section .info p {
    color: white;
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}

.idea .section .pics {
    position: relative;
    flex: 1;
}

@media (max-width:767px) {
    .idea .section .pics {
        display: none;
    }

}

.idea .section .pics .one {
    width: 500px;
    height: 300px;
    position: absolute;
    z-index: 4;
    top: 70px;
    left: 50px;
}

.idea .section .pics .two {
    position: absolute;
    width: 500px;
    height: 300px;
    z-index: 3;
    top: 30px;
    left: 110px;
}

.idea .section .pics .three {
    width: 390px;
    height: 240px;
    position: absolute;
    z-index: 2;
    top: 180px;
    right: 10px;
}

.idea .numbers {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 50px;
}

@media (max-width:767px) {
    .idea .numbers .box {
        text-align: center;
    }
}

.idea .numbers .box h5 {
    letter-spacing: 0;
    font-family: "Jost", sans-serif;
    color: #ffffff;
    font-size: 14px;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

/* End Idea */
/* Start Light */
.light {
    background-image: url(../images/about-01.png);
    background-size: cover;
    background-position: center;
    padding-top: 60px;
    position: relative;
}

.light .since-text {
    position: absolute;
    left: 0;
    top: 116px;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .34px;
    writing-mode: tb;
}

.light .row .text {
    width: 50%;
    padding: 280px 8% 300px 0;
}

@media (max-width:767px) {
    .light .since-text {
        top: 56px;

    }

    .light .row .text {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.light .row .text p {
    font-size: 14px;
    line-height: 24px;
    color: #666;
    letter-spacing: 0;
    margin-bottom: 30px;
}

.light .row .text a {
    margin: 0;
    padding: 17px 20px;
}

/* End Light */
/* Start Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery .box {
    flex-basis: 25%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

@media (min-width:768px) {
    .gallery .box {
        flex-basis: 50%;
    }
}

@media (min-width:1199px) {
    .gallery .box {
        flex-basis: 25%;
    }
}

.gallery .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: 0.5s;

}

@media (max-width:767px) {
    .gallery {
        flex-direction: column;
    }

    .gallery .box {
        width: 100%;
    }
}

.gallery .box .text {
    z-index: -1;
    transition: 0.5s;
    position: relative;
}

.gallery .box:hover::before {
    opacity: 1;
    z-index: 1;
}

.gallery .box:hover .text {
    z-index: 2;
}

.gallery .box:hover img {
    transform: scale(1.1);

}


.gallery .box .main-top {
    position: absolute;
    color: white;
    font-size: 36px;
    top: 60px;
    left: 20%;
}


.gallery .box .left-side {
    position: absolute;
    font-size: 14px;
    line-height: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    writing-mode: tb;
    letter-spacing: 8px;
    left: 20%;
    top: 120px;
    height: 220px;
    transform: rotate(180deg);
}

.gallery .box .left-side::before {
    content: "";
    height: 50px;
    background-color: white;
    border-style: solid;
    border-width: 1px 0 0;
    margin: 0;
    width: 1px;
    margin-top: 25px;
    position: absolute;
    margin-top: -70px;
}

.gallery img {
    width: 100%;
    margin-top: -20px;
    margin-bottom: -10px;
    transition: 0.5s;


}

/* End Gallery */
/* Start luxury */
.luxury {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.luxury .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

@media (max-width:767px) {
    .luxury .container {
        flex-direction: column;
    }
}

.luxury .container img {
    width: auto;
    max-width: 40%;

}

@media (max-width:767px) {
    .luxury .container img {
        max-width: 100%;
        margin-bottom: 15px;
    }
}

.luxury .container .call {
    cursor: pointer;
    display: flex;
    padding: 15px 40px;
    background-color: #c09a4c;
    color: white;
    align-items: center;
    gap: 20px;
    transition: 0.3s;
}

.luxury .container .call:hover {
    background-color: var(--hover-color);
}

.luxury .container .call i {
    font-size: 25px;
}

.luxury .container .call .text span:first-of-type {
    margin-bottom: 10px;
}

.luxury .container .call .text span {
    display: block;
}

/* End luxury */
/* Start Projects */
.projects {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/Pattrean2.jpg);
    background-size: cover;

}

.projects .line {
    width: 40%;
}

.projects .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

@media (max-width:767px) {
    .projects .line {
        width: 100%;
    }

    .projects .boxes {
        grid-template-columns: minmax(120px, 1fr);

    }

    .projects .boxes .box {
        text-align: center;
    }

}

.projects .boxes .box .info h4 {
    font-size: 15px;
    color: white;
    line-height: 24px;
    font-family: "Jost", sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: -5px;
}

.projects .boxes .box .info p {
    color: white;
    margin-bottom: 30px;
    line-height: 24px;
    font-size: 14px;
    font-weight: 400;
    font-family: "Jost", sans-serif;
}

/* End Projects */
/* Start Blog */
.blog {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.blog .latest {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.blog .latest .card {
    max-width: 33.33%;
}

@media (max-width:767px) {
    .blog .latest {
        flex-direction: column;
    }

    .blog .latest .card {
        max-width: 100%;
    }
}

.blog .latest .card .image {
    overflow: hidden;
    cursor: pointer;
}

.blog .latest .card img {
    width: 100%;
    transition: 0.5s;
}

.blog .latest .card img:hover {
    transform: scale(1.1);
}

.blog .latest .card .blog-content {
    margin-top: 50px;
}

.blog .latest .card .blog-content span {
    display: block;
    font-size: 15px;
    color: black;
    font-family: "Jost", sans-serif;
    font-weight: 400;
}

.blog .latest .card .blog-content .name {
    display: block;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    color: #393939;
    margin: 15px 0 15px;
    transition: 0.3s;
}

.blog .latest .card .blog-content .name:hover {
    color: var(--main-yellow);
}

.blog .latest .card .blog-content .seperator {
    width: 40px;
    border-bottom: 1px solid #222;
    margin: 15px 0;
}

.blog .latest .card .blog-content p {
    margin-bottom: 25px;
    padding-right: 27px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
    font-family: "Jost", sans-serif;
}

.blog .latest .card .blog-content .button {
    margin: 0;
}

/* End Blog */
/* Start Clients */
.clients {
    background-color: #f1eee7;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.clients .container {
    position: relative;
}

.clients .right-side {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 15px;
    top: 43px;
}

@media (max-width:767px) {
    .clients .right-side {
        display: none;
    }
}

.clients .right-side .arrow {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.clients .right-side .arrow:hover {
    color: var(--main-yellow);
}

.clients .opinions {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

@media (max-width:767px) {
    .clients .opinions {
        flex-direction: column;
    }
}

.clients .opinions .opinion {
    background-color: white;
    padding: 80px 29px 30px;
    border-top: 5px solid var(--main-yellow);
    position: relative;
}

.clients .opinions .opinion i {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: var(--main-yellow);

}

.clients .opinions .opinion span:not(.par) {
    font-size: 18px;
    font-weight: 400;
    color: #111;
}

.clients .opinions .opinion span.par,
.clients .opinions .opinion p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #666;
    font-family: "Jost", sans-serif;
}

.clients .icons {
    padding: 60px 0 60px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
}

.clients .icons img {
    filter: opacity(0.2);
    cursor: pointer;
    transition: 0.5s;
}

.clients .icons img:hover {
    filter: opacity(1);
}

/* End Clients */
/* Start Contact */
.contact {

    background-color: #214031;
}

.contact .sign-up {
    padding: 40px 0 15px;
    border-bottom: 1px solid #666;
    display: flex;

    justify-content: space-between;
    align-items: center;
}

@media (max-width:991px) {
    .contact .sign-up {
        flex-direction: column;
    }
}

.contact .sign-up .info h2 {
    color: var(--main-yellow);
    line-height: 50px;
    letter-spacing: 1px;
    margin-bottom: -10px;
    margin-top: 0;
    font-size: 25px;
    font-weight: 400;
}

.contact .sign-up .subscribe {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 500px;
    max-width: 100%;
}

@media (max-width:767px) {
    .contact .sign-up {
        flex-direction: column;
        justify-content: center;
    }

    .contact .sign-up .subscribe {}
}

.contact .sign-up .subscribe input {
    padding: 16px 20px 15px;
    height: 52px;
    background-color: transparent;
    border: 1px solid #dddddd;
    flex: 1;
    border-right: none;
    width: calc(100% - 150px);
}

.contact .sign-up .subscribe input:focus {
    outline: none;
}

.contact .sign-up .subscribe .enter {
    display: block;
    color: white;
    background-color: var(--main-yellow);
    padding: 17.2px 50px;
    text-transform: uppercase;
    transition: 0.5s;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .sign-up .subscribe .enter:hover {
    color: var(--main-yellow);
    background-color: #294E3D;
}

.contact .links {
    padding: 40px 0 20px;
    border-bottom: 1px solid #666;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.contact .links .gensis p {
    color: #fff;
    margin-top: 0;
    margin-right: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Jost", sans-serif;
}

.contact .links .quick h3 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: 400;
}

.contact .links .quick .lists {
    display: flex;
    gap: 70px;
    margin-top: -20px;
}

.contact .links .quick .lists ul a li {
    color: #fff;
    padding-bottom: 10px;
    transition: 0.3s;
    padding: 10px;
}

.contact .links .quick .lists ul li:hover {
    color: var(--main-yellow);
}

.contact .links .reach-out h3 {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    font-weight: 400;
}

.contact .links .reach-out .items {
    margin-top: 40px;
}

.contact .links .reach-out .item {
    display: flex;
    margin-top: -20px;
    align-items: center;
    gap: 15px;
    padding: 8px 0 30px;
}

.contact .links .reach-out .item .info .tops {
    font-size: 16px;
    color: #fff;
    margin-bottom: 0;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

.contact .links .reach-out .item .info span:not(.tops) {
    color: #666;
    font-size: 14px;
}

/* End Contact */

.footer {
    background-color: #294e3d;
    padding: 10px 0
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:767px) {
    .footer .container {
        flex-direction: column;
    }
}

.footer .text p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Jost", sans-serif;
}

.footer .text p a {
    color: var(--main-yellow);
    font-weight: bold;
}

.footer .icons {
    display: flex;
    gap: 5px;
}

.footer .icons .icon {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.footer .icons .icon:hover {
    background-color: var(--main-yellow);
}

.footer .icons .icon i {
    color: white;
}